<!DOCTYPE html>
<html>

<head>
  <title>Orders</title>
  <link rel="stylesheet" href="userOrders.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <h1>Orders</h1>
  <div class="container">
      <table>
        <thead>
          <tr>
            <th>Order number</th>
            <th>Date</th>
            <th>Total price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>2023-03-01</td>
            <td>$50.00</td>
          </tr>
          <tr>
            <td>002</td>
            <td>2023-03-15</td>
            <td>$35.00</td>
          </tr>
          <tr>
            <td>003</td>
            <td>2023-03-20</td>
            <td>$75.00</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>

</html>