.navbar-img {
    max-height: 60px;
    padding: 5px;
    margin-right: 5px;
}

.search-input {
    width: 100%;
}

.search-img {
    max-height: 35px;
    padding: 5px;
    position: relative;
    left: -40px;
}

.button .navbar-img {
    max-height: 40px;
    padding: 5px;
}

.button {
    max-height: 50px;
    max-width: 50px;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
}

.button:hover {
    background-color: rgb(236, 236, 236);
}


/* primary navbar */

#primary-navbar {
    /* https://pixabay.com/illustrations/camouflage-blue-template-urban-3525461/ */
    /* Pixabay License */
    background-image: url('../../resources/images/navbarImages/primary-navbar.jpg');
    background-size: cover;
}


/* secondary navbar */

#secondary-navbar {
    /* https://pixabay.com/illustrations/camouflage-texture-template-1581052/ */
    /* Pixabay License */
    background-image: url('../../resources/images/navbarImages/secondary-navbar2.jpg');
    background-size: cover;
    height: 45px;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown {
    border-radius: 5px;
    background-color: rgb(25, 58, 29);
    margin: 10px;
    width: inherit;
}

.dropdown:hover {
    border-radius: 5px;
    background-color: rgb(47, 99, 54);
    margin: 10px;
    width: inherit;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    width: inherit;
}

.dropdown-toggle {
    font-weight: bold;
    width: inherit;
    color: rgb(255, 255, 255);
}

.navbar-dropdown {
    padding: 0px !important;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #secondary-navbar {
        display: none;
    }
}
