.contact-us-wrapper {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 300px;
    color: aliceblue;
    /* width: 300px; */
    flex-direction:row;
    justify-content: space-between;
    margin-top: 5rem;
}

.contact-us-column {
    margin: auto;
}

.contact-us-logo {
    width: 150px;
}

.social-media-link,
.social-media-link:hover {
    color: transparent;
}

.social-media-img {
    height: 50px;
    width: 50px;
    filter: invert(1);
    transition: all 0.3s;
}

.social-media-img:hover {
    transition: all 0.3s;
    scale: 1.2;
}