.form-controller {
    width: 100%;
    height: 520px;
    max-width: 320px;
    padding: 15px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 150px 80px;
    border-radius: 10px;
    user-select: none;
    background-color: #8f8f8f93;
    z-index: 10;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Roboto Condensed', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 0.8;
    color: #000000;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

label {
    display: inline-block;
}

.logo {
    height: 130px;
}

.text-center {
    text-align: center!important;
}

html, body {
    height: 100%;
}

.header-wrapper {
    display:flex;
    height: 20px;
    
}

.header-line {
    background-color: rgb(0, 113, 34);
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-wrapper .header {
    width: -webkit-fill-available;
    font-weight: 800;
}

.header-wrapper .close-button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.header-wrapper .close-button:hover {
    background-color: rgba(226, 226, 226, 0.8);
}

#login-form #submit-button {
    position: relative;
    top: 90px;
}

#login-form .start-date {
    position: relative;
    top: 50px;
}

#register-form .start-date {
    position: relative;
    top: -40px;
}

.switch-menu-wrapper .switch {
    background-color: transparent;
    border-color: #dcdcdc;
    border-width: 1px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 15px;
    transition-duration: 0.4s;
    font-weight: 500;
    font-size: 20px;
}

.switch-menu-wrapper .switch-selected {
    border-color: #ffffffaf;
    background-color: rgba(223, 223, 223, 0.479);
    border-width: 2px;
}

.switch-menu-wrapper .switch:hover {
    background-color: rgba(226, 226, 226, 0.8);
}

form .militray-checkbox {
    margin: 10px;
}

form .militray-label {
    margin: 10px;
}

.hide {
    display: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    
    /* height: 0; */
    width: 0;
    /* display: none; */
}

input {
    background-color: rgba(156, 156, 156, 0.13) !important;
}

#mobile-image {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: none;
    z-index: -10;
    /* max-height: 400px; */
    border-radius: 5px;
}

@media screen and (min-width: 1500px) {
    .form-controller {
        scale: 1.5;
    }
}

@media screen and (min-width: 1000px) {
    .form-controller {
        scale: 1;
    }
}

@media screen and (max-width: 1000px) {
    .form-controller {
        scale: 0.7;
    }

    #myVideo {
        display: none;
    }

    #mobile-image {
        display: block;
    }

    .form-controller {
        background-color: #797979c4;
    }
}

/* popup */
/* From */
/* https://codepen.io/imprakash/pen/GgNMXO */
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 80%;
    background-color: #f0f0f0;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}


.popup h2 {
    margin-top: 15px;
}

#file-input {
    scale: 1.5;
    margin-top: 50px;
}

#file-input:hover {
    cursor: pointer;
}

.selected-image-wrapper {
    border: 2px solid rgb(149, 149, 149);
    padding: 5px;
    margin-top: 50px;
    height: 250px;
}

#selected-image {
    width: -webkit-fill-available;
    max-height: 240px;
}

.popup .submit-button {
    margin-top: 50px;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}