<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product detail</title>
	<link rel="stylesheet" type="text/css" href="productDetail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
  <div class="container">
    <main>
        <section id="header">
          <div class="d-flex align-items-center justify-content-between">
            <h1 class="display-1">AK-47</h1>
            <img width="8%" src="./images/heart4.png" alt="" class="">
          </div>
          <h5>Weapons > Rifles</h5>
        </section>

        <section id="carrousel">
            <div id="carouselExampleIndicators" class="carousel slide mx-auto d-block" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner rounded">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="./images/alexey-turenkov-hvfi7LxkgKc-unsplash.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="./images/alexey-turenkov-VwoLh2EB5R4-unsplash.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="./images/weapon1.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
              </div>
        </section>
      
        <section id="pricing-window" class="mt-5 col-6 mx-auto">
          <div id="description">
            <p>The AK-47 is a selective-fire assault rifle that was designed by Mikhail Kalashnikov in the Soviet Union in 1947. It is one of the most widely used firearms in the world due to its simplicity, reliability, and durability. The AK-47 fires 7.62x39mm cartridges and can be used in a variety of combat situations.</p>
          </div>
          <div class="bg-light rounded mx-auto d-block">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col-sm-4">
                <form>
                  <div class="mb-4 mt-2 text-center">
                    <h4>Price for 1: 99.99 €</h4>
                    <label for="amount" class="form-label">Amount</label>
                    <div class="input-group">
                      <button class="btn btn-outline-secondary" type="button" id="minusBtn">-</button>
                      <input type="text" class="form-control text-center" id="amount" name="amount" value="1">
                      <button class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
                    </div>
                  </div>
                  <div class="mb-3 text-center">
                    <h4>Total Price</h4>
                    <h4 class="text-center">99.99 €</h4>
                    
                  </div>
                  <div class="mb-3 text-center">
                    <img width="30%" src="https://www.seekpng.com/png/detail/365-3654139_empty-shopping-basket-shopping-basket-icon-png.png" alt="Empty Shopping Basket - Shopping Basket Icon Png@seekpng.com">
                    <p class="small">add to basket</p>
                    <p>or</p>
                    <button type="submit" class="btn btn-success btn-lg">Pay Now</button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
          
        </section>
      </main>

      
      
      <footer>
        <p>Copyright © Army Shop</p>
      </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
