/* set container to full width and height */
.container {
    width: 100%;
    height: 100%;
  }

   /* make header text responsive */
   #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  /* make carousel responsive */
  #carouselExampleIndicators {
    width: 62%;
    height: 30rem;
    margin: 2rem auto;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  /* adjust pricing window for smaller screens */
  #pricing-window {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* make form elements responsive */
  .form-label {
    font-size: 1.2rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    font-size: 1.2rem;
  }
  
  .btn-outline-secondary {
    font-size: 1.2rem;
  }
  
  .btn-success {
    font-size: 1.2rem;
    width: 100%;
  }
  
  /* make footer responsive */
  footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  /* adjust margin and padding for smaller screens */
  @media (max-width: 576px) {
    body {
      margin: 0;
      padding: 0;
    }
    #carouselExampleIndicators {
      height: 12rem;
    }
    #pricing-window {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .form-label {
      font-size: 1rem;
    }
    .form-control {
      font-size: 1rem;
    }
    .btn-outline-secondary {
      font-size: 1rem;
    }
    .btn-success {
      font-size: 1rem;
    }
  }
  
  /* adjust margin and padding for medium screens */
  @media (min-width: 576px) and (max-width: 992px) {
    body {
      margin: 0;
      padding: 0;
    }
    #carouselExampleIndicators {
      width: 65%;
      height: 15rem;
      margin: 2rem auto;
    }
    #pricing-window {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .form-label {
      font-size: 1.2rem;
    }
    .form-control {
      font-size: 1.2rem;
    }
    .btn-outline-secondary {
      font-size: 1.2rem;
    }
    .btn-success {
      font-size: 1.2rem;
    }
  }

  /* adjust margin and padding for medium screens */
  @media (min-width: 992px) and (max-width: 1200px) {
    body {
      margin: 0;
      padding: 0;
    }
    #carouselExampleIndicators {
      width: 60%;
      height: 20rem;
      margin: 2rem auto;
    }
    #pricing-window {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      width: 60%;
    }
    .form-label {
      font-size: 1.2rem;
    }
    .form-control {
      font-size: 1.2rem;
    }
    .btn-outline-secondary {
      font-size: 1.2rem;
    }
    .btn-success {
      font-size: 1.2rem;
    }
  }
  
 
  