/* PAYMENT DETAIL */

#payment-detail {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#payment-detail .heading {
    margin: 20px;
}

#payment-detail #payment-detail-wrapper {
    min-width: 300px;
    padding: 15px;
    background-color: gainsboro;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#payment-detail #order-button {
    height: 60px;
    width: 180px;
    font-size: 24px;
}

#payment-detail .line {
    background-color: rgb(126, 126, 126);
    height: 1px;
    margin: 15px;
}

#payment-detail .input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

#payment-detail .input-control.success input {
    border-color: #09c372;
}

#payment-detail .input-control.error input {
    border-color: #ee6782 !important;
}

#payment-detail .input-control .error {
    color: #ff0033;
    font-size: 9px;
    height: 10px;
    position: relative;
    top: 4px;
    font-weight: bold;
}

#payment-detail .reset-button {
    height: 35px;
    width: 150px;
}

/* PERSONAL INFORMATION */

/* DELIVERY */

#delivery .delivery-row {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    justify-content: center; /* horizontal centering */
    align-items: center;
}

#delivery .delivery-checkbox {
    flex-grow: 1;
    width: 15px !important;
    height: 15px !important;
    margin: 10px;
}

#delivery .delivery-item-icon {
    flex-grow: 2;
    max-width: 60px;
    border-radius: 50px;
    padding: 5px;
}

#delivery .delivery-label {
    flex-grow: 2;
    min-width: 25vw;
}

#delivery .delivery-price {
    flex-grow: 2;
    font-weight: 500;
}

#delivery .delivery-availability {
    flex-grow: 2;
}   

/* PAYMENT */

#payment .payment-checkbox {
    flex-grow: 1;
    width: 15px !important;
    height: 15px !important;
    margin: 10px;
}

#payment .payment-row {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    justify-content: center; /* horizontal centering */
    align-items: center;
}

#payment .payment-checkbox {
    flex-grow: 2;
    width: 15px !important;
    height: 15px !important;
    margin: 10px;
}

#payment .payment-item-icon {
    flex-grow: 2;
    max-width: 60px;
    border-radius: 50px;
    padding: 5px;
}

#payment .payment-label {
    flex-grow: 2;
    min-width: 25vw;
}

#payment .payment-price {
    flex-grow: 2;
}


/* summary */

#summary{
    margin-left: 10px;
    margin-bottom: 10px;
}

#summary table {
    border-collapse: collapse;
  }
  
#summary td {
    padding: 10px;
  }
  
  #summary .subtotal,#summary .shipping,#summary .total {
  font-size: 20px;
}
  
#summary .total {
    font-weight: bold;
    font-size: 24px;
}

/* POPUP */

#popup {
    z-index: 50;
}

#popup .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

#popup .overlay:target {
    visibility: visible;
    opacity: 1;
}

#popup .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

#popup .popup h2 {
    margin-top: 0;
    color: #333;
}

#popup .popup .close {
    position: relative;
    transition: all 200ms;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

#popup .popup .close:hover {
    color: #06D85F;
}

#popup .popup .content {
    max-height: 30%;
    overflow: auto;
    font-size: 20px;
    margin-top: 20px;
}

#popup .popup .content strong {
    color: red;
}

#popup #countdown {
    margin-bottom: 0px;
}

@media screen and (max-width: 1000px) {
    #payment-detail {
        margin: auto;
        width: 100%;
    }

    #payment-detail #payment-detail-wrapper {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 700px){
    #popup .popup{
        width: 70%;
    }
}