/* PAYMENT DETAIL */

#payment-detail {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

#payment-detail .heading {
    margin: 20px;
}

#payment-detail #payment-detail-wrapper {
    max-width: 70%;
    min-width: 300px;
    padding: 15px;
    background-color: gainsboro;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#payment-detail #order-button {
    height: 60px;
    width: 180px;
    font-size: 24px;
}

#payment-detail .line {
    background-color: rgb(126, 126, 126);
    height: 1px;
    margin: 15px;
}

/* PERSONAL INFORMATION */

/* DELIVERY */

#delivery .delivery-row {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    justify-content: center; /* horizontal centering */
    align-items: center;
}

#delivery .delivery-checkbox {
    flex-grow: 1;
    width: 15px !important;
    height: 15px !important;
    margin: 10px;
}

#delivery .delivery-item-icon {
    flex-grow: 2;
    max-width: 60px;
    border-radius: 50px;
    padding: 5px;
}

#delivery .delivery-label {
    flex-grow: 2;
    min-width: 25vw;
}

#delivery .delivery-price {
    flex-grow: 2;
    font-weight: 500;
}

#delivery .delivery-availability {
    flex-grow: 2;
}   

/* PAYMENT */

#payment .payment-checkbox {
    flex-grow: 1;
    width: 15px !important;
    height: 15px !important;
    margin: 10px;
}

#payment .payment-row {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    justify-content: center; /* horizontal centering */
    align-items: center;
}

#payment .payment-checkbox {
    flex-grow: 2;
    width: 15px !important;
    height: 15px !important;
    margin: 10px;
}

#payment .payment-item-icon {
    flex-grow: 2;
    max-width: 60px;
    border-radius: 50px;
    padding: 5px;
}

#payment .payment-label {
    flex-grow: 2;
    min-width: 25vw;
}

#payment .payment-price {
    flex-grow: 2;
}


/* summary */

#summary {
    z-index: 5;
    width: 30%;
    max-height: 350px;
    background-color: rgb(244, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#summary #summary-product-list {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 70%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#summary .product {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    justify-content: center; /* horizontal centering */
    align-items: center;
}

#summary .summary-item-img {
    flex-grow: 3;
    max-width: 60px;
    border-radius: 50px;
    padding: 5px;
}

#summary .summary-item-label {
    flex-grow: 5;
}

#summary .summary-item-price {
    flex-grow: 1;
}   

#summary .summary-total-price {
    padding-top: 5px;
}


/* POPUP */

#popup {
    z-index: 50;
}

#popup .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

#popup .overlay:target {
    visibility: visible;
    opacity: 1;
}

#popup .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

#popup .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

#popup .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

#popup .popup .close:hover {
    color: #06D85F;
}

#popup .popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    #summary {
        display: none;
    }
    
    #payment-detail {
        margin: auto;
        width: 100%;
    }

    #payment-detail #payment-detail-wrapper {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 700px){
    #popup .popup{
        width: 70%;
    }
}