body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
  text-align: center
}

.formContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 500px;
  box-sizing: border-box;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;

}

button[type="submit"],
button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #0069d9;
}

button[type="submit"]:focus,
button[type="button"]:focus {
  outline: none;
}

/* responsive styles */
@media screen and (max-width: 800px) {
  header h1 {
    font-size: 24px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    font-size: 14px;
  }

  .formContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }

  button[type="submit"],
  button[type="button"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}