<!DOCTYPE html>
<html>

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="userProfile.css">
  <link rel="stylesheet" href="../../common/styles.css">
  <link rel="stylesheet" href="../navbar/navbar.css">
  <link rel="stylesheet" href="../contactUs/contactUs.css">
  <script src="../navbar/navbar.js"></script>
  <script src="../contactUs/contactUs.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- navbar -->
  <header>
    <div id="navbar">
      <!-- primary navbar -->
      <nav id="primary-navbar" class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
          <a href="#" target="_blank">
            <!-- custom image -->
            <img class="navbar-img" src="../../resources/images/logo/logoTransparent.png" alt="Armyshop">
          </a>
          <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search">
          <!-- image source: freeiconspng.com -->
          <img class="search-img" src="https://www.freeiconspng.com/uploads/search-icon-png-5.png"
            alt="Responsive image">
          <button class="button shopping-cart__button">
            <!-- image source: freeiconspng.com -->
            <img class="navbar-img" src="https://www.freeiconspng.com/uploads/bag-icon-6.png" alt="Responsive image">
          </button>
          <button class="button profile__button">
            <!-- image source: freeiconspng.com -->
            <img class="navbar-img"
              src="https://www.freeiconspng.com/uploads/msn-people-person-profile-user-icon--icon-search-engine-16.png"
              alt="Responsive image">
          </button>
        </div>
      </nav>

      <!-- secondary navbar -->
      <nav id="secondary-navbar" class="navbar navbar-expand navbar-light bg-light">
        <div class="navbar-dropdown container-fluid">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Weapons
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Pistols</a></li>
              <li><a class="dropdown-item" href="#">Rifles</a></li>
              <li><a class="dropdown-item" href="#">Submachine guns</a></li>
              <li><a class="dropdown-item" href="#">Heavy</a></li>
              <li><a class="dropdown-item" href="#">Knives</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-dropdown container-fluid">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Transport
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Cars</a></li>
              <li><a class="dropdown-item" href="#">Motocycles</a></li>
              <li><a class="dropdown-item" href="#">Panzers</a></li>
              <li><a class="dropdown-item" href="#">Planes</a></li>
              <li><a class="dropdown-item" href="#">Boats</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-dropdown container-fluid">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Clothing
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Jackets</a></li>
              <li><a class="dropdown-item" href="#">Trousers</a></li>
              <li><a class="dropdown-item" href="#">Shoes</a></li>
              <li><a class="dropdown-item" href="#">Pants</a></li>
              <li><a class="dropdown-item" href="#">Socks</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-dropdown container-fluid">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Explosives
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">C4s</a></li>
              <li><a class="dropdown-item" href="#">Nukes</a></li>
              <li><a class="dropdown-item" href="#">Grenades</a></li>
              <li><a class="dropdown-item" href="#">TNTs</a></li>
              <li><a class="dropdown-item" href="#">Bombs</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-dropdown container-fluid">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Equipment
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Backpacks</a></li>
              <li><a class="dropdown-item" href="#">Hunting</a></li>
              <li><a class="dropdown-item" href="#">Camping</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-dropdown container-fluid">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Accessories
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Glasses</a></li>
              <li><a class="dropdown-item" href="#">Face pain</a></li>
              <li><a class="dropdown-item" href="#">Camouflage</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- user-profile -->
  <div id="user-profile">
    <h1>User Profile</h1>
    <div class="container">
      <div class="verticalContainer">
        <!-- biling information -->
        <div class="containerElement">
          <h2>Billing information</h2>
          <hr>
          <div class="formContainer">
            <form>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" value="John Doe"><br>

              <label for="address1">Address Line 1:</label>
              <input type="text" id="address1" name="address1" value="Hlavoňova 25"><br>

              <label for="address2">Address Line 2:</label>
              <input type="text" id="address2" name="address2" value="068 01 Terezov"><br>

              <label for="email">E-mail:</label>
              <input type="email" id="email" name="email" value="email@gmail.com"><br>

              <label for="phone">Phone Number:</label>
              <input type="tel" id="phone" name="phone" value="0904956723"><br>

              <button type="button" id="save-changes-btn">SAVE CHANGES</button>
            </form>
          </div>
        </div>

        <!-- military passport -->
        <div class="containerElement">
          <h2>Military passport</h2>
          <hr>
          <div class="image-container">
            <label for="image-selector">Select an image:</label>
            <input type="file" id="image-selector" accept="image/*">
          </div>
        </div>
      </div>

      <!-- statistics -->
      <div class="verticalContainer">
        <div class="containerElementFlex">
          <h2>Your experience</h2>
          <hr>
          <button type="button" id="order-history-btn">ORDER HISTORY</button>
          <div id="orderHistoryContainer">
            <table>
              <tr>
                <th>ID:</th>
                <th>Items:</th>
                <th>Price:</th>
              </tr>
              <tr>
                <td>#10023</td>
                <td>20</td>
                <td>250€</td>
              </tr>
              <tr>
                <td>#10342</td>
                <td>2</td>
                <td>26.78€</td>
              </tr>
              <tr>
                <td>#18734</td>
                <td>2000</td>
                <td>1245€</td>
              </tr>
              <tr>
                <td>#19734</td>
                <td>2000</td>
                <td>1245€</td>
              </tr>
              <tr>
                <td>#19433</td>
                <td>1</td>
                <td>1245000€</td>
              </tr>
            </table>
          </div>
          <button type="button" id="wish-list-btn">WISH LIST</button>
          <div id="wishListContainer">
            <table>
              <tr class="wishListRow">
                <td>
                  <!-- image source: unsplash.com -->
                  <img class="productImg" src="../../resources/images/productImages/weapons/jay-rembert-e0kgA5otj0Q-unsplash.jpg">
                </td>
                <td>Small firearm modern cast steel, semi-automatic</td>
                <td class="wishListPrice">250€</td>
              </tr>
              <tr class="wishListRow">
                <td>
                  <!-- image source: unsplash.com -->
                  <img class="productImg"
                    src="../../resources/images/productImages/weapons/bexar-arms-uLOWWVPVefQ-unsplash.jpg">
                </td>
                <td>Assault rifle black steel</td>
                <td class="wishListPrice">339.90€</td>
              </tr>
            </table>
          </div>
        </div>

        <!-- change password -->
        <div class="containerElement">
          <h2>Change password</h2>
          <hr>
          <label for="passOld">Old password:</label>
          <input type="password" id="passOld" name="passOld"><br>

          <label for="passNew">New password:</label>
          <input type="password" id="passNew" name="passNew"><br>

          <label for="passNewConfirm">Confirm new password:</label>
          <input type="password" id="passNewConfirm" name="passNewConfirm"><br>

          <button type="button" id="change-password-btn">CHANGE PASSWORD</button>
        </div>
        <button class="log-out-btn">Log Out</button>
      </div>
    </div>
  </div>

  <!-- contact-us -->
  <footer>
    <div id="contact-us">
      <div class="contact-us-wrapper">
        <div class="contact-us-column">
          <h1>Contact us</h1>
          <p>Phone: +421 9xx xxx xxx</p>
          <p>Email: info@armyshop.xd</p>
        </div>
        <div class="contact-us-column">
          <a href="#" target="_blank">
            <!-- custom image -->
            <img class="contact-us-logo" src="../../resources/images/logo/logoTransparent.png" alt="Armyshop">
          </a>
          <div class="contact-us-social-media">
            <div>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="social-media-link"
                target="_blank">
                <!-- image source: freepik.com -->
                <img
                  src="https://cdn.aboutstatic.com/file/d473bb55bdf6bd6430eeff7ed35fa4ca.png?quality=75&amp;height=480&amp;width=360"
                  alt="media" class="social-media-img">
              </a>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="social-media-link"
                target="_blank">
                <!-- image source: freepik.com -->
                <img
                  src="https://cdn.aboutstatic.com/file/6a522d45a858eea2ccf7e71c2aa419fb.png?quality=75&amp;height=480&amp;width=360"
                  alt="media" class="social-media-img">
              </a>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="social-media-link"
                target="_blank">
                <!-- image source: freepik.com -->
                <img
                  src="https://cdn.aboutstatic.com/file/75356ec63103aca8bf43a3071ed2a242.png?quality=75&height=75&width=75"
                  alt="media" class="social-media-img">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="userProfile.js"></script>
</body>

</html>