<!DOCTYPE html>
<html>

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="userProfile.css">
</head>

<body>
  <div class="container">
    <h1>Full Name</h1>
    <div class="formContainer">
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="address1">Address Line 1:</label>
        <input type="text" id="address1" name="address1"><br>

        <label for="address2">Address Line 2:</label>
        <input type="text" id="address2" name="address2"><br>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"><br>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone"><br>

        <!-- <label for="pass">Password:</label>
      <input type="password" id="pass" name="pass"><br>

      <label for="newPass">New password:</label>
      <input type="password" id="newPass" name="newPass"><br>

      <label for="repeatNewPass">Repeat new password:</label>
      <input type="password" id="repeatNewPass" name="repeatNewPass"><br> -->
        <button type="button" id="save-changes-btn">SAVE CHANGES</button>
        <button type="button" id="change-password-btn">CHANGE PASSWORD</button>
      </form>
    </div>
    <div>
    </div>
  </div>
</body>

</html>