#user-profile h1 {
  margin: 20px;
  font-size: 36px;
  text-align: center;
  color:rgb(0, 0, 0);

}

#user-profile h2 {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  font-size: x-large !important;
}

#user-profile hr {
  margin-left: 0;
  margin-right: 0;
}

#user-profile div {
  height: fit-content;
}

#user-profile .container {
  display: flex;
  flex-wrap: wrap;
}

#user-profile .containerElement,
#user-profile .containerElementFlex {
  flex: 1;
  margin-top: 20px !important;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: gainsboro;
}


#user-profile .verticalContainer {
  margin: auto;
  margin-top: 0 !important;
  width: 500px;
}

#user-profile .containerElementFlex {
  display: flex;
  flex-direction: column;
}

/*Orders*/
#orderHistoryContainer,
#wishListContainer {
  display: none;
  margin-top: 10px;
  padding: 1px;
  border: 2px solid black;
  border-radius: 5px;
}

#user-profile table {
  border-collapse: collapse;
  width: 100%;
}

#user-profile th,
#user-profile td {
  padding: 8px !important;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#user-profile th {
  background-color: #f2f2f2;
}


#user-profile td.wishListPrice {
  text-align: right;
  font-weight: bold;
}

#user-profile tr.wishListRow:nth-child(even) {
  background-color: #f2f2f2;
}


#user-profile .productImg {
  max-width: 50px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;

}

/*labels, inputs and buttons*/
#user-profile label {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

#user-profile input[type="text"],
#user-profile input[type="email"],
#user-profile input[type="tel"],
#user-profile input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#user-profile button {
  background-color: rgb(25, 58, 29);
  color: #fff !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px !important;
  margin-right: 10px;
  box-sizing: border-box;
}

#user-profile button:hover {
  background-color: rgb(47, 99, 54);
}

#user-profile button:focus {
  outline: none;
}

#user-profile .input-control.success input {
  border-color: #09c372;
}

#user-profile .input-control.error input {
  border-color: #ee6782 !important;
}

#user-profile .input-control .error {
  color: #ff0033;
  font-size: 9px;
  height: 10px;
  position: relative;
  top: 4px;
  font-weight: bold;
}

#user-profile #profile-military-passport-image {
  max-width: 100%;
}

#user-profile .collapsible {
  cursor: pointer;
  padding: 18px;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#user-profile .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* log out button */

#log-out-btn {
  width: 100% !important;
  background-color: rgb(127, 42, 42) !important;
}

/* responsive styles */


@media screen and (max-width: 1000px) {
  .verticalContainer {
    width: 400px !important;
    margin-left: 20px;
  }
}

@media screen and (min-height: 1250px) {
  #user-profile {
    height: 65vh;
  }

  .verticalContainer {
    margin: auto !important;
    margin-left: 0;
  }
}