<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="categories.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="categories">
            
            <div class="row justify-content-center">
                <div class="col-sm-4 col-8 mb-4">
                    <div class="category">
                    <div class="category-icon mb-3 mt-3">
                        <img src="../../resources/images/productDetailImages/gun-pistol-icon.png" alt="hello">
                    </div>
                    <p class="description">Weapons</p>
                    </div>
                </div>
                <div class="col-sm-4 col-8 mb-4">
                    <div class="category">
                    <div class="category-icon mb-3 mt-4">
                        <img src="../../resources/images/productDetailImages/tank.png" alt="hello">
                    </div>
                    <p class="description">Transport</p>
                    </div>
                </div>
                <div class="col-sm-4 col-8 mb-4">
                    <div class="category">
                    <div class="category-icon mb-2 mt-4">
                        <img src="../../resources/images/productDetailImages/tshirt.png" alt="hello">
                    </div>
                    <p class="description">Clothing</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4 col-8 mb-4">
                    <div class="category">
                    <div class="category-icon mt-1 mb-2">
                        <img src="../../resources/images/productDetailImages/bomb.png" alt="hello">
                    </div>
                    <p class="description">Explosives</p>
                    </div>
                </div>
                <div class="col-sm-4 col-8 mb-4">
                    <div class="category">
                    <div class="category-icon">
                        <img src="../../resources/images/productDetailImages/backpack.png" alt="hello">
                    </div>
                    <p class="description">Equipment</p>
                    </div>
                </div>
                <div class="col-sm-4 col-8 mb-4">
                    <div class="category">
                    <div class="category-icon mb-2 mt-1">
                        <img src="../../resources/images/productDetailImages/dog-tag.png" alt="hello">
                    </div>
                    <p class="description">Accessories</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>