/*general*/
body {
  font-family: Arial, sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: black;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.containerElement {
  flex: 1;
  background-color: rgb(222, 222, 222);
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
}

/*items in shopping cart*/
ul {
  list-style-type: none;
  padding: 0;
}

.item {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.img {
  max-width: 90px;
  max-height: 90px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
}

.desc {
  margin: 0px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 20px !important;
  margin-top: 0 !important;
}

.prices {
  display: flex;
  flex-direction: row;
}

.multiple {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
}

.countControls{
  display: flex;
  flex-direction: row;
}

.countControlButtons{
  width: 30px;
  border-radius: 15px;
  border: 1;
}

input{
  width: 50px;
  border-radius: 10px;
}

.singularPrice{
  font-size: 18px;
}

.multiplePrice{
  font-size: 18px;
  font-weight: bold;
  text-align: center !important;
}

/*removing input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


/*order summary*/
table,
th,
td {
  width: 100%;
}

#total {
  border-top: 1px solid;
  border-collapse: collapse;
}

/*responsivity*/
@media screen and (max-width: 500px) {
  .containerElement {
    margin-left: 0px !important;
  }

  h3{
    font-size: 15px !important;
  }
}

@media screen and (max-width: 1000px) {
  .multiple{
    margin-left: 15% !important;
  }
}