/*general*/
body {
  font-family: Arial, sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: black;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.cartContainerElement,
.summaryContainer {
  flex: 1;
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: gainsboro;
}

/*items in shopping cart*/

.listContainerElement {
  padding: 20px;
  max-height: 700px;
  overflow-y: scroll;
}

.itemList {
  overflow-y: visible !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.item {
  width: 100%;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgb(232, 232, 232)
}

.img {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.desc {
  margin: 0px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-remove {
  display: flex;
}

.removeButton {
  max-height: 30px;
  margin-bottom: 10px;
  margin-left: auto;
}

h3 {
  font-size: 20px !important;
  margin-top: 0 !important;
}

.prices {
  display: flex;
  flex-direction: row;
}

.multiple {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
}

.countControls {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.countControlButtons {
  border: 0px solid black !important;
  background-color: transparent;
}

input {
  width: 35px;
  height: 30px;
  border: 0px solid black !important;
  background-color: transparent;
  text-align: center;
}

input:focus {
  outline-width: 0;
}

.singularPrice {
  font-size: 18px;
}

.multiplePrice {
  font-size: 20px;
  font-weight: bold;
  text-align: center !important;
  margin-left: auto;
  margin-top: 5px;
}

/*removing input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


/*order summary*/
.summaryContainer {
  padding: 0;
  height: fit-content;
}

.containerElement {
  padding: 20px;
}

table,
th,
td {
  width: 100%;
  font-size: large;
}

#total {
  border-top: 1px solid;
  border-collapse: collapse;
  font-weight: bold;
  font-size: x-large;
}

#continueButton {
  width: 100%;
  border: 0 solid black;
  background-color: rgb(25, 58, 29);
  height: 80px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

#continueButton:hover {
  color: gold;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

/*responsivity*/
@media screen and (max-width: 500px) {
  .containerElement {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 1000px) {
  .multiple {
    margin-left: 15% !important;
  }


  h3 {
    font-size: 13px !important;
  }

  .singularPrice {
    font-size: 14px;
  }

  .multiplePrice {
    font-size: 16px;
  }

  input {
    width: 25px;
    height: 20px;
    font-size: 12px !important;
    text-align: center;
    padding-top: 5px;
  }

  .img {
    max-height: 70px;
  }
}