body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../../resources/images/homepage/army-bg1.jpg'); /* Source: https://unsplash.com/s/photos/military */
  background-size: cover;
  background-position: center 40px;
  font-family: 'Roboto serif' !important;

}

.card-img-top {
    height: 80%; /* set the height of the image */
    object-fit: cover; /* ensure the image covers the entire space */
}

.card-body {
    height: 20%; /* set the height of the card body */
    display: flex; /* use flexbox to align items */
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
}

.btn-buy {
    margin-left: 2rem;
}

.cart-img {
    margin-right: 2rem;
}

.likedPhoto {
    margin-right: 1.5rem;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
}

.card {
    flex-basis: 30%;
    margin: 10px;
    box-shadow: rgba(255, 255, 255, 0.60) 0px 5px 15px !important;
    border: none !important;
}

.card:hover {
    cursor: pointer;
}

.subcategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

.description p {
    font-size: 2rem;
}

.subcategory {
    flex: 0 1 12%;
    height: 50%;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: all 0.3s ease-in-out;
}

.subcategory:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* For screens smaller than 576px */
@media (max-width: 700px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
  }
  
  .card {
    flex-basis: 80%;
    margin: 10px;
  }

  .subcategory {
    flex: 0 1 10%;
    margin: 0.5rem;
  }
}

/* For screens between 576px and 1200px */
@media (min-width: 700px) and (max-width: 1200px) {
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 100%;
    }
    
    .card {
      flex-basis: 40%;
      margin: 10px;
    }

    .subcategory {
      flex: 0 1 25%;
      margin: 1rem;
    }
  }