.card-img-top {
    height: 80%; /* set the height of the image */
    object-fit: cover; /* ensure the image covers the entire space */
}

.card-body {
    height: 20%; /* set the height of the card body */
    display: flex; /* use flexbox to align items */
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
}

.btn-buy {
    margin-left: 2rem;
}

.cart-img {
    margin-right: 2rem;
}

.likedPhoto {
    margin-right: 1.5rem;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
}

.card {
    flex-basis: 30%;
    margin: 10px;
}

.card:hover {
    cursor: pointer;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }

.description p {
    font-size: 2rem;
}

.category {
    flex: 0 1 20%;
    height: 50%;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: all 0.3s ease-in-out;
}

/* For screens smaller than 576px */
@media (max-width: 575.98px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
  }
  
  .card {
    flex-basis: 80%;
    margin: 10px;
  }
}

/* For screens between 576px and 991.98px */
@media (min-width: 576px) and (max-width: 991.98px) {
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 90%;
    }
    
    .card {
      flex-basis: 45%;
      margin: 10px;
    }
  }