/* PRIMARY NAVBAR */

#navbar #primary-navbar {
    /* Pixabay License */
    /* https://pixabay.com/illustrations/camouflage-blue-template-urban-3525461/ */
    background-image: url("../../images/navbarImages/primary-navbar.jpg");
    background-size: cover;
}

#navbar #primary-navbar .navbar-img {
    max-height: 60px;
    margin-right: 5px;
}

#navbar #primary-navbar .search-input {
    position: relative;
    left: 10px;
    width: 100%;
}

#navbar #primary-navbar .search-img {
    max-height: 35px;
    padding: 5px;
    position: relative;
    left: -40px;
}

#navbar #primary-navbar .button .navbar-img {
    max-height: 40px;
    padding: 5px;
}

#navbar #primary-navbar .button {
    max-height: 50px;
    max-width: 50px;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
}

#navbar #primary-navbar .button:hover {
    background-color: rgba(236, 236, 236, 0.722);
}


/* SECONDARY NAVBAR */

#navbar #secondary-navbar {
    /* Pixabay License */
    /* https://pixabay.com/illustrations/camouflage-texture-template-1581052/ */
    background-image: url('../../images/navbarImages/secondary-navbar2.jpg');
    background-size: cover;
    height: 45px;
}

#navbar .navbar-dropdown {
    padding: 0px !important;
    width: 100%;
}

#navbar #secondary-navbar .dropdown {
    border-radius: 5px;
    background-color: rgb(25, 58, 29);
    margin: 10px;
    width: inherit;
}

#navbar #secondary-navbar .dropdown:hover {
    border-radius: 5px;
    background-color: rgb(47, 99, 54);
    margin: 10px;
    width: inherit;
}

#navbar #secondary-navbar .dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

#navbar #secondary-navbar .dropdown:hover>.dropdown-menu {
    display: block;
    width: inherit;
}

#navbar #secondary-navbar .dropdown-toggle {
    font-weight: bold;
    width: inherit;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
    #navbar #secondary-navbar {
        display: none;
    }
}
